/* COMP229 Assignment 1
Name: Tsz To LAM 
Student ID: 301253580
Date: 30 May 2023 */
button {
    background-color: rgb(137, 108, 240);
}
body { padding-top:10px; }
#resumePDF {
    display:none;
}
#ProfilePic{
    border-radius: 50%; 
    object-fit: cover;
    width: 250px;
    height: 250px;
    box-shadow: 5px 10px;
}
.customBtn{
    text-decoration: none;
    color:rgb(64, 63, 63);
}