/* COMP229 Assignment 1
Name: Tsz To LAM 
Student ID: 301253580
Date: 30 May 2023 */

body { padding-top:10px; }
#resumePDF {
    display:none;
}
#ProfilePic{
    border-radius: 50%; 
    object-fit: cover;
    width: 250px;
    height: 250px;
    box-shadow: 3px 7px;
}
