<!-- business contacts page-->
<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %> 
  <%# # option = comment%>
  <%# - option: return unescaped HTML (whatever written = show) %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>