<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %> 
  <%# # option = comment%>
  <%# - option: return unescaped HTML (whatever written = show) %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="p-4 bg-light row">
      <div class="col-sm-1"></div>
      <div class="col-sm-6">
        <h1 class="m-3">Hello there!</h1>
        <h3 class="m-3">My name is Tsz To Lam <br>You can call me Francis</h3>
        <h4 class="m-3">I code, design, paint, and (previously) help people see again!</h4>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-4">
        <img src="/img/CherryBlossom.jpg" alt="Profile Pic" id="ProfilePic">
      </div>
      <div class="d-flex justify-content-center p-5">
        <button class="btn btn-dark px-3 mx-3"><a href="/about" style="text-decoration: none; color: white">About me</button>
        <button class="btn btn-outline-dark px-3 mx-3" ><a href="/projects" style="text-decoration: none; color:rgb(95, 95, 95);">My Projects</button>
      </div>     
    </div>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>